In [1]:
import pandas as pd
import random

In [2]:
roster = pd.read_csv("roster.csv")

In [3]:
roster

                    Email      Name
0       do_m1@denison.edu      Minh
1    gupta_i1@denison.edu    Ishaan
2       le_l1@denison.edu       Lan
3   leblan_h1@denison.edu    Hayley
4    liang_d1@denison.edu   Desmond
5   lieper_b1@denison.edu       Ben
6   nguyen_h2@denison.edu      Hieu
7   nguyen_q1@denison.edu     Quang
8     phan_h1@denison.edu      Hiep
9   readgr_r1@denison.edu  Federico
10  rinker_m1@denison.edu      Matt
11  smith_c12@denison.edu     Colin
12    song_p1@denison.edu     Kevin
13  steinm_e1@denison.edu      Emma
14  sthila_e1@denison.edu     Edwin
15  tallma_d1@denison.edu     Dylan
16  taylak_s1@denison.edu    Sardor
17    tran_b1@denison.edu     Bryan
18    tran_q1@denison.edu      Quan
19    wang_z1@denison.edu      Zack
20  weicht_b1@denison.edu     Brett

In [4]:
studentlist = list(roster.Name)

In [5]:
studentlist2 = [['Matt', 'Edwin', 'Zack'],
                ['Dylan', 'Sardor', 'Bryan'],
                ['Hayley', 'Hiep', 'Quan'],
                ['Ishaan', 'Lan', 'Colin'],
                ['Desmond', 'Hieu', 'Quang'],
                ['Ben', 'Federico', 'Emma'],
                ['Minh', 'Kevin', 'Brett']]

In [6]:
studentlist2

[['Matt', 'Edwin', 'Zack'],
 ['Dylan', 'Sardor', 'Bryan'],
 ['Hayley', 'Hiep', 'Quan'],
 ['Ishaan', 'Lan', 'Colin'],
 ['Desmond', 'Hieu', 'Quang'],
 ['Ben', 'Federico', 'Emma'],
 ['Minh', 'Kevin', 'Brett']]

In [7]:
def getGroup(LoL, name):
    for group in LoL:
        if name in group:
            return group
    assert False

In [8]:
getGroup(studentlist2, 'Colin')

['Ishaan', 'Lan', 'Colin']

In [9]:
studentlist = list(roster.Name)
group = 1
random.seed(6538)
while len(studentlist) > 0:
    first_member = random.choice(studentlist)
    project1group = getGroup(studentlist2, first_member)
    print(first_member, project1group)
    subset = list(set(studentlist) - set(project1group))
    #print(subset)
    assert len(subset) > 0
    newgroup = random.sample(subset, 2)
    newgroup.append(first_member)
    print(group, ':', newgroup)
    group = group + 1
    studentlist = list(set(studentlist) - set(newgroup))

Colin ['Ishaan', 'Lan', 'Colin']
1 : ['Dylan', 'Kevin', 'Colin']
Matt ['Matt', 'Edwin', 'Zack']
2 : ['Sardor', 'Ishaan', 'Matt']
Quang ['Desmond', 'Hieu', 'Quang']
3 : ['Federico', 'Zack', 'Quang']
Hieu ['Desmond', 'Hieu', 'Quang']
4 : ['Minh', 'Edwin', 'Hieu']
Quan ['Hayley', 'Hiep', 'Quan']
5 : ['Brett', 'Emma', 'Quan']
Hiep ['Hayley', 'Hiep', 'Quan']
6 : ['Lan', 'Ben', 'Hiep']
Hayley ['Hayley', 'Hiep', 'Quan']
7 : ['Desmond', 'Bryan', 'Hayley']