In [26]:
import pandas as pd
import random

In [27]:
roster = pd.read_csv("roster.csv")

In [28]:
roster

                    Email
0       do_m1@denison.edu
1    gupta_i1@denison.edu
2       le_l1@denison.edu
3   leblan_h1@denison.edu
4    liang_d1@denison.edu
5   lieper_b1@denison.edu
6   nguyen_h2@denison.edu
7   nguyen_q1@denison.edu
8     phan_h1@denison.edu
9   readgr_r1@denison.edu
10  rinker_m1@denison.edu
11  smith_c12@denison.edu
12    song_p1@denison.edu
13  steinm_e1@denison.edu
14  sthila_e1@denison.edu
15  tallma_d1@denison.edu
16  taylak_s1@denison.edu
17    tran_b1@denison.edu
18    tran_q1@denison.edu
19    wang_z1@denison.edu
20  weicht_b1@denison.edu

In [29]:
studentlist = list(roster.Email)

In [30]:
studentlist

['do_m1@denison.edu',
 'gupta_i1@denison.edu',
 'le_l1@denison.edu',
 'leblan_h1@denison.edu',
 'liang_d1@denison.edu',
 'lieper_b1@denison.edu',
 'nguyen_h2@denison.edu',
 'nguyen_q1@denison.edu',
 'phan_h1@denison.edu',
 'readgr_r1@denison.edu',
 'rinker_m1@denison.edu',
 'smith_c12@denison.edu',
 'song_p1@denison.edu',
 'steinm_e1@denison.edu',
 'sthila_e1@denison.edu',
 'tallma_d1@denison.edu',
 'taylak_s1@denison.edu',
 'tran_b1@denison.edu',
 'tran_q1@denison.edu',
 'wang_z1@denison.edu',
 'weicht_b1@denison.edu']

In [31]:
group = 'A'
random.seed = 4378
while len(studentlist) > 0:
    group_members = random.sample(studentlist, 3)
    print(group, group_members)
    group = chr(ord(group) + 1)
    remaining = set(studentlist) - set(group_members)
    studentlist = list(remaining)

A ['wang_z1@denison.edu', 'rinker_m1@denison.edu', 'sthila_e1@denison.edu']
B ['taylak_s1@denison.edu', 'tran_b1@denison.edu', 'tallma_d1@denison.edu']
C ['leblan_h1@denison.edu', 'tran_q1@denison.edu', 'phan_h1@denison.edu']
D ['smith_c12@denison.edu', 'gupta_i1@denison.edu', 'le_l1@denison.edu']
E ['liang_d1@denison.edu', 'nguyen_q1@denison.edu', 'nguyen_h2@denison.edu']
F ['readgr_r1@denison.edu', 'steinm_e1@denison.edu', 'lieper_b1@denison.edu']
G ['do_m1@denison.edu', 'weicht_b1@denison.edu', 'song_p1@denison.edu']